<div class="jumbotron">
    <div><img src="~/pic/my-passport-photo.jpg" class="img-circle" style="height:250px; width:250px;"></div>
    <h1>Biplob Roy</h1>
</div>

<address>
    <p style="color: ButtonText; font-size: 20px; background-color: blue;"><u>Preasent Address:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">24/B, weast Malibagh,Doctor Goli, Dhaka, 1217.</p>

    <p style="color: ButtonText; background-color: blue; font-size: 20px;"><u>Permanent Address:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Village: Charkhali, Post: Khasial(7514), Thana: Naragati.
    <br />Upzala: Kalia, District: Narail.</p>

    <p style="color: ButtonText; font-size: 20px; background-color: blue;"><u>Mail:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Primary: <a href="mailto:roybiplob99@gmail.com">roybiplob99@gmail.com</a>
    <br />Secondary: <a href="mailto:biplobroy@yahoo.com">biplobroy@yahoo.com</a></p>

    <p style="color: ButtonText; font-size: 20px; background-color: blue;"><u>Phone:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Primary: 01963255051<br />Secondary: 01772310131</p>
</address>

<address>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">LINKEDIN ID: <a href="https://www.linkedin.com/in/biplob-roy-881a2812a" target="_blank">Biplob Roy</a>
    <br />Face Book ID: <a href="https://www.facebook.com/biplob.roy.58173" target="_blank">Biplob Roy</a></p>
</address>