
<div class="jumbotron">
    <div><img src="~/pic/my-passport-photo.jpg" class="img-circle" style="height:250px; width:250px;"></div>
    <h1>Biplob Roy</h1>
</div>

@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>SSC:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">
        School: Bordia High School<br />
        Mejor:  Science<br />
        Result: 4.25 Out of 5.00<br />
        Passing Year: 2009<br />
        Board: Jashore
    </p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>HSC:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">
        College: Munsi Manik Mia Degree College<br />
        Mejor:  Science<br />
        Result: 4.40 Out of 5.00<br />
        Passing Year: 2012<br />
        Board: Jashore
    </p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>BSC:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">
        University: Stamford University Bangladesh<br />
        Mejor:  Computer Science & Engineering<br />
        Result: 3.25 Out of 4.00<br />
        Passing Year: 2019<br />
        Board: Jashore
    </p>
</div>
