@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div><img src="~/pic/my-passport-photo.jpg" class="img-circle" style="height:250px; width:250px;"></div>
    <h1>Biplob Roy</h1>
    <p class="lead">
        A highly experienced and creative Dot Net developer with hands on experience in a variety of projects.
        A level head and rational approach to problem solving combined with a passion for innovative and fresh ideas has led to a portfolio
        of impressive solutions. Technically competent and industry aware means that each project is undertaken with the most up-todate and
        relevant programming foundations available.
    </p>
    <p><a href="https://localhost:44362/Home/Contact" target="_blank" class="btn btn-primary btn-lg">Contact &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Skill</h2>
        <p>
            
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44362/Home/Skill">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Educational Back Ground</h2>
        <p></p>
        <p><a class="btn btn-primary" href="https://localhost:44362/Home/Education">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>