<div class="jumbotron">
    <div><img src="~/pic/my-passport-photo.jpg" class="img-circle" style="height:250px; width:250px;"></div>
    <h1>Biplob Roy</h1>
</div>

@{
    ViewBag.Title = "Skill";
}
<h2 style="color:blue">@ViewBag.Title.</h2>

<div>
    @*<p style="color: ButtonText; font-size: 20px;"><u>Networking:</u></p>*@
    <p style="color: green; background-color: gainsboro; font-size: 20px;">
        >Experience in C-#, ASP.Net, MVC hands on Data Access Layer and OOP.<br />
        >Working knowledge of SQL (Database management System) and Java Script.<br />
        >Experience with CSS, HTML-5, Java script and boot Strap development methodologies.<br />
        >Integrating new technologies with the current learnings of DOT NET▪ Hands on knowledge on C Language, C++, Networking, CSS, PHP, HTML.
    </p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>C Language:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with C Programming.</p>
    <img src="~/pic/basic c.JPG" class="img-rounded" style="height: auto; width: 500px">
    <img src="~/pic/c modaret.JPG" class="img-rounded" style="height: auto; width: 500px">
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>C++:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with C++ Programming.</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>PHP:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with PHP Programming.</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Java:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with Java Programming.</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>C#:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with C# Programming.</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Dot Net:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">problem Solving skill with (>NET) Programming.</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>My SQL:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Query Language</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Visual Studio:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Working and Developing Knowledge with Visual Studio and 
    Creating project Capability using Visual Studio 2019.</p>
    <p>MVC Firmwork, Core DOT NET, SQL Connection, WEB Application, Windows Application</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Microsoft SQL Server 2014 Express:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Creating Database and used different types of operational Query
    . Database Communiaction with visual studio and manage data. Relational Database design</p>
</div>

<div>
    <p style="color: ButtonText; font-size: 20px;"><u>Networking:</u></p>
    <p style="color: green; background-color: gainsboro; font-size: 20px;">Complete CCNA from Amirican International University Bangladesh</p>
</div>